%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6" do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="") Recent Payments
            %li.active
              %a(href="/admin/videos/new") Add a New Video
          %br
          %fieldset
            = f.text_field :title, class: 'span3'
            = f.text_area :description, row: 8
            = f.collection_check_boxes :categories, Category.all, :id, :name 
            = f.file_field :large_cover_url, label: 'Large Cover'
            = f.file_field :small_cover_url, label: 'Small Cover'
            = f.submit 'Add Video'
          